a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

#header-inner {
  background-color: coral;
  height: 5.5rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.main-nav ul {
  display: flex;
}

.main-nav li {
  padding: 1rem 1rem;
}

.main-nav a {
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  border-color: 0.5s;
}

.main-nav a:hover {
  border-color: #333;
}

.main-nav a.current {
  border-color: #ffbc00;
}

.container {
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  gap: 16px;
  padding: 20px;
}

.item-image img {
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
}

.item-image img:hover {
  opacity: 70%;
}

#main-footer {
  background-color: #333;
  color: #fff;
  height: 5rem;
}

.footer-content {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
